#popupBody {
  width: 400px;
  height: 400px;
  background-color: pink;
  font-family: "Segoe UI";
}

#backgroundImageDiv {
  width: 100%;
  height: 37%;
  margin-top: 5vh;
  margin-left: 3vw;
  background-image: url('wsbLogo.png');
  background-repeat: no-repeat;
}

#entry1, #entry2 {
  height: 5vh;
}

#percentDiffResult {
  font-size: 22pt;
  font-weight: bold;
}
